<aside>
    <div>
        <div class="profile-section">
            <img src="/perfil.png" alt="">
            <p class="main-title">GuAdLoDe</p>
        </div>
        <ul>
            <li><img src="/mas.png" alt="">Añadir Tarea</li>
            <li><img src="/Lupa.png" alt="">Buscador</li>
            <li><img src="/bandeja de entrada.png" alt="">Bandeja de Entrada</li>
            <li><img src="/calendario.png" alt="">Hoy</li>
            <li><img src="/Menu.png" alt="">Etiquetas</li>
        </ul>
        <ul>
            <h2>Mis Tareas</h2>
            <li><img src="/mas.png" alt="">Pendientes</li>
        </ul>
    </div>
</aside>